@page "/compdatianag"
<h3>CompDatiAnag</h3>

<style>
    td, th {
        border: 3px solid #dddddd;
        text-align: center;
    }
</style>

<h1>Inserisci i dati anagrafici.</h1>

<table class="table table-light table-responsive-lg">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data di nascita</th>
            <th>Luogo di nascita</th>
            <th>Codoce fiscale</th>
            <th>Email</th>
            <th>Tel/cel</th>
            <th>Indirizzo</th>
            <th>Civico</th>
            <th>Città</th>
            <th>CAP</th>

        </tr>
    </thead>
</table>
<button class="btn btn-primary">Salva i dati</button>

@code {

}
