@page "/"

    <div class="jumbotron jumbotron-fluid hero">
        
            <h1 class="display-4">Dati anagrafici</h1>
            <p class="lead"> L'applicazione ci permette di gestire in modo facile i dati anagrafici !</p>
        
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Gestione dati</h5>
            <p class="card-text">Il gestore di dati anagrafici permette di aggiungere, modificare e cancellare i dati anagrafici.</p>
            <img src="/css/files/datiAnag.jpg" alt="Gestore dati" width="200" height="291"><br />
            <a href="compdatianag" class="btn btn-primary">Vai nella pagina della gestione</a>
        </div>
    </div>
